header{
	padding:120px 0 30px 0;
	background: linear-gradient(90deg, #BDB76B 0%, #DAA520 100%);
}

footer{
	padding: 20px 0;
}

.navbar-default{
	background: linear-gradient(90deg, #BDB76B 0%, #DAA520 100%);
}

#course{
	padding:80px 0;
}

.navbar-logo{
	clear: both;
	font-family: helvetica;
	font-size: 30px;
	color: white!important;
	font-weight: bold;
}
